name: VirusTotal

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Release tag - eg v1.0-v1.18-r2 (default: latest)"
        required: false
        type: string

env:
  HAS_VT_API_KEY: ${{ secrets.VIRUSTOTAL_API_KEY != '' }}

permissions:
  contents: write

jobs:
  scan-release-assets:
    name: Scan release assets with VirusTotal
    runs-on: ubuntu-latest
    steps:
      -
        name: Setup
        if: env.HAS_VT_API_KEY == 'true'
        id: setup
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ '${{ github.event_name }}' = 'workflow_dispatch' ]; then
            TAG_NAME="$(printf '%s' '${{ inputs.release_tag }}' | xargs)"
            if [ -z "$TAG_NAME" ]; then
              TAG_NAME="$(gh release view --repo "$GITHUB_REPOSITORY" --json tagName --jq '.tagName')"
            fi
          else
            TAG_NAME="${GITHUB_REF#refs/tags/}"
          fi
          printf 'Using tag: %s\n' "$TAG_NAME"
          echo "tag-name=$TAG_NAME" >>"$GITHUB_OUTPUT"
          BODY="$(gh release view --repo "$GITHUB_REPOSITORY" "$TAG_NAME" --json body -q .body)"
          if printf '%s' "$BODY" | grep -q 'virustotal\.com'; then
            echo "Release body already contains VirusTotal report"
            echo 'update-body=false' >>"$GITHUB_OUTPUT"
          else
            echo "Release body does not contain VirusTotal report"
            echo 'update-body=true' >>"$GITHUB_OUTPUT"
          fi
      -
        name: Download release assets
        if: env.HAS_VT_API_KEY == 'true' && github.event_name == 'workflow_dispatch'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view "${{ steps.setup.outputs.tag-name }}" --repo "$GITHUB_REPOSITORY" --json assets --jq '.assets[].url' | while read -r url; do
            echo "Downloading $url"
            gh api -H 'Accept: application/octet-stream' "$url" >"$(basename "$url")"
          done
          echo 'Assets downloaded:'
          ls -l
      -
        name: Submit to VirusTotal
        if: env.HAS_VT_API_KEY == 'true'
        uses: crazy-max/ghaction-virustotal@v4
        with:
          vt_api_key: ${{ secrets.VIRUSTOTAL_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          update_release_body: ${{ steps.setup.outputs.update-body }}
          request_rate: 4
          files: |
            *.exe
            *.zip
